[Unit]
Description=WomoLIN Ve.Direct to MQTT Agent
StartLimitIntervalSec=15
Wants=mosquitto.service

[Service]
EnvironmentFile=-/etc/default/womolin-ve2mqtt
WorkingDirectory=/usr/local/bin/womolin/
Type=simple
Restart=always
RestartSec=15
User=root
ExecStart=/usr/local/bin/womolin/ve2mqtt %i

[Install]
WantedBy=multi-user.target
